.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    width: 100%;
}
.leftNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rightNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
}
.mp{
    padding:9px;
}
.Dashboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 87vh;
    margin-top: .5em;
}
.wrappers_class{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
}
.wrapperName{
    color: black;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}
.sbm_container{
    padding-left: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    list-style-type: none;
    color: lightgray;
    font-weight: 800;

}
.sbm__container__item{
    text-decoration: none;
    color: lightgoldenrodyellow;
}