.container{
    width: 250px;
    background-color: lightgray;
    height: 100vh;
    font-size:3.5rem;
    padding: 2rem;
    overflow: auto;
}
.submenuli{
    list-style-type: none;
    font-size: 15px;
}
.subItems{
    padding-left: 10px;
    background-color: red;
}
.mainitem{
    padding-left: 0px;
    margin-left: 0;
}
.ItemPaddings{
    background-color : red ;
}