
.container{
    display: flex;
    justify-content: space-between;
    overflow:scroll;
    height:65vh;
}
.catlefttb{
    overflow:scroll;
    
}
.catsrightadd{
    display: flex;
    flex-direction: column;
}